header {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: 99;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $pinknav;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: $width-desktop;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-in-out;
    @media only screen and (min-width: $on-mobile) {
      position: relative;
    }
    ul{
      width: 100%;
      height: auto;
      max-height: 70px;
      background: $pinknav;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      transition: max-height 0.5s ease-in-out;
      @media only screen and (min-width: $on-mobile) {
        flex-flow: row wrap;
        height: 100px;
      }
      li {
        width: calc(100% - 0.4em);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0 0.2em;
        order: 2;
        &:nth-of-type(2){
          order: 1;
          @media only screen and (min-width: $on-mobile) {
            order: 2;
          }
        }
        @media only screen and (min-width: $on-mobile) {
          width: calc(20% - 0.4em);
          justify-content: center;
        }
        h3 {
          color: white;
          font-size: 40px;
          line-height: 40px;
          text-align: left;
          margin-left: 10px;
          @media only screen and (min-width: $on-mobile) {
            text-align: center;
            margin-left: 0;
          }
        }
        a {
          position: relative;
          padding: 0.5em;
          color: $text-color;
          font-size: 16px;
          font-family: $base-font-family;
          font-weight: 700;
          text-transform: uppercase;
          transition: all 0.1s ease-in-out;
          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 30px;
            height: 2px;
            left: 50%;
            bottom: -10px;
            transform: translateX(-50%);
            transition: all 0.1s ease-in-out; 
            @media only screen and (min-width: $on-mobile) {
              width: 1px;
              bottom: 0;
            }
          }
        }
        &:hover a {
          color: white; 
          &:before {
            width: 30px;
            height: 2px;
            background-color: white;
          }
        }
        &.active a {
          color: white; 
          &:before {
            width: 30px;
            height: 2px;
            background-color: white;
          }
        }
      }
    }
  }

  .mobile-menu {
    position: absolute;
    top: 15px;
    right: 25px;
    display: block;
    margin: auto 0;
    width: $bar-width;
    height: $bar-height + $bar-spacing*2;
    cursor: pointer;
    z-index: 99;
    @media only screen and (min-width: $on-mobile) {
      display: none;
    }
  }

  .bar,
  .bar:after,
  .bar:before {
    width: $bar-width;
    height: $bar-height;
  }

  .bar {
    position: relative;
    transform: translateY($bar-spacing);
    background: white;
    transition: all 0ms 300ms;   
  }

  .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: white;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: white;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

header.open{
  nav {
    ul {
      max-height: 500px;
    }
  }
  .bar {
    background: transparent; 
  }
  .bar:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }
  .bar:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }

}